#using mistral for flash, stndard and deep reasoning 
#MISTRAL_API_KEY=UUWOanpwHQidontknowFuB7Z4v6UzP8Kxd##C

#21st.dev for UI/UX
#21ST_DEV_API_KEY=ce2875ad15f1e

#bioportal - library for biomedical research
BIOPORTAL_API_KEY=a84f96da-doesheknow-doyouknow-doesshereallyknow-9b81c3b4ea8a
#using openAI api as a judge to keep evaluation independent and unbiased
#OPENAI_API_KEY=sk-proj

# RunPod cloud - fine-tuned biomedical model - Syntropy - Host on runpod and download the qwen3.5 27B finetuned model from 
Daredevil47's huggingface if you plan on using this model for demo in future.

#OLLAMA_BASE_URL=https://wearecoolforthesummer-12345.proxy.runpod.net/
OLLAMA_MODEL=huggingface.co/Daredevil47/qwen35_biomedical:latest

#openAI api key 
OPENAI_API_KEY=sk-proj--weareyourfriendswearejust1callaway
#neo4j database
#neo4j database
NEO4J_URI=
NEO4J_USER=
NEO4J_PASSWORD=